<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5pBeQ1oQpIZi7txEO1O2TEvPam7SYDy4</string>
	<key>GCM_SENDER_ID</key>
	<string>942691731905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceMobile</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-mobile-f8867</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-mobile-f8867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942691731905:ios:bb255ebf615552615e0740</string>
</dict>
</plist>